@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}



@media (prefers-color-scheme: light){
  header {
    @apply w-full p-5 flex bg-yellow-300
  }

  footer {
    @apply w-full flex p-5 bg-yellow-300
  }

  h1 {
    @apply text-3xl
  }
  .btn {
    @apply p-2 border-2 rounded-sm bg-gray-300 border-amber-100 text-black cursor-pointer
  }

  input {
    @apply p-1 my-2 border-2 rounded-sm  bg-gray-300 border-amber-100 text-black
  }
}

@media (prefers-color-scheme: dark){
  header {
    @apply w-full p-5 flex bg-zinc-800
  }

  footer {
    @apply w-full p-5 flex bg-zinc-800
  }

  h1 {
    @apply text-3xl
  }

  .btn {
    @apply p-2 border-2 rounded-sm bg-zinc-600 border-blue-300 text-white cursor-pointer
  }

  input {
    @apply p-2 my-2 border-2 rounded-sm bg-zinc-600 border-blue-300 text-white
  }

  .commentSection{
    @apply bg-zinc-700
  }
}