@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

@theme {
    --color-news-blue: #0014ab;
    --color-news-blue-light: #7d99d4;
    --color-news-blue2: #0964e3;
    --color-news-gray-light: #e8e8e8;
}

/* Light theme */
@media (prefers-color-scheme: light){
  body {
    @apply bg-news-gray-light
  }
  header {
    @apply w-full mb-12 p-5 flex bg-news-blue text-white items-center
  }

  footer {
    @apply w-full p-5 bg-news-gray-light content-center text-sm
  }

  h1 {
    @apply text-3xl
  }

  h2 {
    @apply text-2xl
  }

  .btn {
    @apply p-2 border-none rounded-sm bg-news-blue2 border-amber-100 text-white cursor-pointer
  }

  header .btn {
    @apply bg-white text-black
  }

  input {
    @apply p-1 my-2 border-none rounded-sm bg-white text-black
  }

  textarea {
    @apply p-1 my-2 border-none rounded-sm bg-white text-black
  }

  .commentsSection {
    @apply size-3/5 px-10 overflow-auto border-none
  }

  .commentCard {
    @apply flex flex-col flex-1 bg-white mb-3 px-6 pt-5 pb-3
  }

  .articleCard {
    @apply bg-white border-none
  }

  .articleCard h1 {
    @apply text-5xl font-bold
  }

  .article {
    @apply w-3/5 px-6 pt-3 py-6 bg-white border-none
  }

  .article h1 {
    @apply text-5xl font-bold
  }

  .articleContent{
    @apply border-none bg-white h-100
  }

  .error {
    @apply text-red-400
  }

  .slide-menu {
    @apply fixed -right-1/4 p-1 w-fit h-fit border-none bg-news-blue text-black transition-all delay-75 duration-150 ease-in
  }

  .slide-menu.open {
    @apply right-1
  }

  .menu-item {
    @apply p-2 m-2 cursor-pointer border-none bg-white rounded-sm
  }

  .userControlHeader {
    @apply border-t-0 border-r-0 border-l-0 border-b-1
  }
}


/* Dark theme */
@media (prefers-color-scheme: dark){
  body {
    @apply bg-black
  }
  header {
    @apply w-full mb-12 p-5 flex bg-news-blue text-white items-center
  }

  footer {
    @apply w-full p-5 bg-black content-center text-sm
  }

  h1 {
    @apply text-3xl
  }

  h2 {
    @apply text-2xl
  }

  .btn {
    @apply p-2 border-none rounded-sm bg-news-blue2 border-amber-100 text-white cursor-pointer
  }

  header .btn {
    @apply bg-white text-black
  }

  input {
    @apply p-1 my-2 border-none rounded-sm bg-zinc-800 text-white
  }

  textarea {
    @apply p-1 my-2 border-none rounded-sm bg-zinc-800 text-white
  }

  .commentsSection {
    @apply size-3/5 px-10 overflow-auto border-none
  }

  .commentCard {
    @apply flex flex-col flex-1 bg-zinc-800 mb-3 px-6 pt-5 pb-3
  }

  .articleCard {
    @apply bg-zinc-800 border-none
  }

  .articleCard h1 {
    @apply text-5xl font-bold
  }

  .article {
    @apply w-3/5 px-6 pt-3 py-6 bg-zinc-800 border-none
  }

  .article h1 {
    @apply text-5xl font-bold
  }

  .articleContent{
    @apply border-none bg-zinc-800 h-100 text-white
  }

  .error {
    @apply text-red-400
  }

  .slide-menu {
    @apply fixed -right-1/4 p-1 w-fit h-fit border-none bg-news-blue text-black transition-all delay-75 duration-150 ease-in
  }

  .slide-menu.open {
    @apply right-1
  }

  .menu-item {
    @apply p-2 m-2 cursor-pointer border-none bg-white rounded-sm
  }

  .userControlHeader {
    @apply border-t-0 border-r-0 border-l-0 border-b-1
  }
}