@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}


/* Light theme */
@media (prefers-color-scheme: light){
  header {
    @apply w-full p-5 flex bg-yellow-300
  }

  footer {
    @apply w-full flex p-5 bg-yellow-300
  }

  h1 {
    @apply text-3xl
  }

  h2 {
    @apply text-2xl
  }

  .btn {
    @apply p-2 border-2 rounded-sm bg-gray-300 border-amber-100 text-black cursor-pointer
  }

  input {
    @apply p-1 my-2 border-2 rounded-sm  bg-gray-300 border-amber-100 text-black
  }

  .commentsSection {
    @apply size-fit px-10 h-30 overflow-auto border-amber-100 border-2
  }

  .commentCard {
    @apply flex flex-col flex-1
  }

  .articleContent{
    @apply border-2 border-amber-100 bg-gray-300 h-100
  }

  .error {
    @apply text-red-400
  }
}


/* Dark theme */
@media (prefers-color-scheme: dark){
  header {
    @apply w-full h-20 p-5 flex bg-zinc-800
  }

  footer {
    @apply w-full p-5 flex bg-zinc-800
  }

  h1 {
    @apply text-3xl
  }

  h2 {
    @apply text-2xl
  }

  .btn {
    @apply p-2 border-2 rounded-sm bg-zinc-600 border-blue-300 text-white cursor-pointer
  }

  input {
    @apply p-2 my-2 border-2 rounded-sm bg-zinc-600 border-blue-300 text-white
  }

  .commentsSection {
    @apply size-fit px-5 h-40 overflow-auto border-blue-300 border-2
  }

  .commentCard {
    @apply flex flex-col my-5 p-5 border-2 border-zinc-400 bg-zinc-700
  }

  .articleContent{
    @apply border-2 border-blue-400 bg-zinc-700 h-100
  }

  .error {
    @apply text-red-400
  }

  .slide-menu {
    @apply fixed -right-1/4 p-1 w-fit h-fit border-2 border-blue-400 bg-zinc-400 text-white transition-all delay-75 duration-150 ease-in
  }

  .slide-menu.open {
    @apply right-1
  }

  .menu-item {
    @apply p-2 m-2 cursor-pointer border-2 border-zinc-50 bg-zinc-500
  }
}